#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# navio config for a quad
uorb start
if [ -f eeprom/parameters ]
then
	param load
fi
# Change this to be consistent with other id
param set MAV_SYS_ID 1
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
param set MAV_TYPE 2
param set SYS_MC_EST_GROUP 2
param set BAT_CNT_V_VOLT 0.001
param set BAT_V_DIV 10.9176300578
param set BAT_CNT_V_CURR 0.001
param set BAT_A_PER_V 15.391030303
dataman start
df_lsm9ds1_wrapper start -R 4
#df_mpu9250_wrapper start -R 10
#df_hmc5883_wrapper start
df_ms5611_wrapper start
navio_rgbled start
navio_adc start
gps start -d /dev/spidev0.0 -i spi -p ubx
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
#mc_pos_control start
#mc_att_control start
# I'm not sure whether thisi sneeded
# mixer load /dev/pwm_output0 ROMFS/px4fmu_common/mixers/quad_w.main.mix
mavlink start -x -u 14540 -r 1000000
# mavlink start -x -u ${\($portNum+2)} -r 4000000 -m onboard -o ${\($portNum+3)}
# Allow it to transfer all sensor data needed
mavlink stream -u 14540 -r 50 -s POSITION_TARGET_LOCAL_NED
mavlink stream -u 14540 -r 50 -s LOCAL_POSITION_NED
mavlink stream -u 14540 -r 50 -s GLOBAL_POSITION_INT
mavlink stream -u 14540 -r 50 -s ATTITUDE_QUATERNION
mavlink stream -u 14540 -r 50 -s ATTITUDE_TARGET
#mavlink stream -u 14540 -r 50 -s SERVO_OUTPUT_RAW_0
mavlink stream -u 14540 -r 50 -s RC_CHANNELS
mavlink stream -u 14540 -r 50 -s HIGHRES_IMU
mavlink stream -u 14540 -r 50 -s ATTITUDE

# If USB connect exist, stream output to usb
# if [ -f /dev/ttyUSB0 ]
# then
# 	mavlink start -x -d /dev/ttyUSB0
# 	mavlink stream -d /dev/ttyUSB0 -s HIGHRES_IMU -r 50
# 	mavlink stream -d /dev/ttyUSB0 -s ATTITUDE -r 50
# fi

navio_sysfs_rc_in start
linux_pwm_out start
logger start -t -b 200
mavlink boot_complete
